@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 100%;
    height: 650px;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute !important;
    top: 95% !important;
}

.swiper-button-next {
    right: 5% !important;
}

.swiper-button-prev {
    left: 5% !important;
}

.swiper-pagination-bullet {
    margin: 0 40px !important;
    background: #1E959B !important;
    width: 15px !important;
    height: 15px !important;
}